@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  /* color: hsla(160, 100%, 37%, 1); */
  color: #FA7204;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    /* background-color: hsla(160, 100%, 37%, 0.2); */
    background-color: #FEEDE0;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* 2칸을 1:1 비율로 나누겠다는 뜻 https://velog.io/@padd60/TIL-CSS-Grid-JS-Vue */
    padding: 0 2rem;
  }
}


.btn-outline-warning {
	--bs-btn-color: #fa7204;
	--bs-btn-border-color: #fa7204;
	--bs-btn-hover-bg: #fa7204;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-border-color: #fa7204;
	--bs-btn-active-color: #000;
	--bs-btn-active-bg: #fff7f1;
	--bs-btn-active-border-color: #fa7204;
}

.btn-warning {
	--bs-btn-color: #000;
	--bs-btn-bg: #fa7204;
	--bs-btn-border-color: #fa7204;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #fd7c12;
	--bs-btn-hover-border-color: #fd7c12;
	--bs-btn-focus-shadow-rgb: 217, 164, 6;
	--bs-btn-active-color: #000;
	--bs-btn-active-bg: #fd7c12;
	--bs-btn-active-border-color: #ffc720;
	--bs-btn-active-shadow: inset 0 3px 5pxrgba (0, 0, 0, 0.125);
	--bs-btn-disabled-color: #000;
	--bs-btn-disabled-bg: #fa7204;
	--bs-btn-disabled-border-color: #fa7204;
}
